/* project2CSS.css */

p.interesting
{
	font-style: italic;
}
ul.item
{
	list-style-type: none;
}
span
{
	font-weight: bold;
}
ul
{
	padding: 0px; /* ul lists have padding by default, so I had to set it to 0 for the list to align to the left neatly.*/
}
body
{
	width: 350px;
	border-style: solid;
	border-radius: 10px;
	box-shadow: 5px 5px #888888;
	padding-bottom: 10px;
	padding-left: 10px;
}
div.information
{
	width: 300px;
	padding-left: 25px;
	border-style: solid;
	border-radius: 2px;
	background-color: #f3f3fa;
}
img.picture
{
	width: 300px;
	border-style: solid;
	border-radius: 2px;
	padding-left: 25px;
	background-color: #efeff5;
}
h3.name
{
	width: 300px;
	border-style: solid;
	border-radius: 2px;
	padding-left: 25px;
	background-color: #ebe6e9;
	font-family: "Arial";
	box-shadow: 3px 3px #888888;
}
